body
{
    margin: 0;
    padding: 0;
}

/*header
{
    /***** Para fijar el encabezamiento
    position: fixed;
    z-index: 10;
}*/


/*******************LINEA DE PUBLICIDAD - MARQUESINA ****************/
/********************************************************************/

.marquee
{
    
    width: 100%;
    height: 45px;
    background-color: black;
    overflow: hidden;
}

.marquee li
{
    font-size: 15px;
    color: white;
}

.marquee__content
{
    padding: 0;
    display: flex;
    animation: scrolling 10s linear infinite;
    align-content: center;
    align-items: center;
}

@keyframes scrolling 
{
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}

.marquee__item
{
    flex-shrink: 0;
}

/************** MENU ICONOS DE NAVEGACION ***************/
/********************************************************/

.header-icon-nav {
    width:100%;
    height: 100px;
    background-color: whitesmoke;
    border-bottom:darkgray solid 2px;
    display: flex; 

}


.header-icon-links ul
{
    list-style: none;
    text-align: right;
    padding-right: 20px;
    margin-top: 5px;
}

.header-icon-links ul li
{
    display:inline-block;
    margin:0 .7em;

}

.header-icon-links ul li a 
{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color:rgb(35, 34, 39);
    margin-bottom: 15px;
    transition: all .3s ease;
}

.header-icon-links ul li a:hover{
    color: #00C3FF;
}


/*MENU DE SELECCION DE ARTICULOS*/
.nav-logo
{
    position: absolute;
    margin-top: 15px;
    

}


#logo{
    width: 90px;
    
}

/*alinear a cada elemento uno al lado del otro*/

.nav-menu{

    align-content: center;
    
}
.nav-menu ul
{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content:space-evenly;
    
}


.menu-item a:hover
{
    color: #00C3FF;
}

/*eliminar los subrayados de la lista del menu*/
/*.nav-menu ul li a
{
    text-decoration: none;    
    color: black;
}


/*Estilos a los menu de navegacion*/

.menu-item
{
    margin: 0 10px;
    line-height: 40px;
    text-transform: uppercase;
    width: max-content;/*extender el contenido hacia la derecha*/
}

.menu-item a
{
    text-decoration: none;    
    color: black;
    font-size:small;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.abrir-menu {
    display:none; 
}

@media screen and (max-width: 614px){

    .abrir-menu{

        display: block;
        right: 50px; 
        border: 0; 
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color:#000;
    }

    .cerrar-menu {
        
        display:block;
        position: absolute;
        right:50px; 
        font-size: 1.75rem;
        background-color: transparent;
        border:0; 
        color: #ffffff;
        cursor: pointer;
    }

    .header-icon-links {

        opacity: 0;
        visibility: hidden; 
    }
    
    .header-icon-links-visible{

        opacity: 1;
        visibility: visible; 
    }
    
    .header-icon-links ul {
        position:absolute;
        top:20px;
        right: 0;
        bottom: 0;
        background-color: #080808;
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    

    }
    .icon-links {
      display: flex;
      flex-direction: column;
     
    }
    .header-icon-links .icon-links li a {

        color: #ecececec;

    }

    .header-icon-links .icon-links li {
        margin-bottom: 60px; 
    }


}


@media screen and (min-width:615px){
    .cerrar-menu{
    display: none;
    }
    
}




/*.nav-buscar
{
    width: 20%;
    text-align:center;
    padding-top: 20px;
}

.nav-buscar a i
{
    font-size: 25px;
    color: black;
    font-weight: bold;
}








/***** Espacio de padding para cuando se fije el encabezamiento
.productos
{  
   padding-top: 160px;
}*/

/************************FORMULARIO***************************/
/************************************************************/

h3{
    text-align: center;
}
.main-formulario
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    margin: 0 auto;
}

.container-datos-form
{
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;
}

input{
    border: #000 solid 1px;
}

input[type=text],[type=tel], input[type=email]
{
    width: 100%;
    border-radius: 8px;
    border:darkgray solid 2px;
    height: 40px;
}

/*comento formato anterior
input[type=file]
{
    border-radius: 8px;
    border:darkgray solid 2px;
   
   /* height: 40px;
}
*/

/*prueba de input file */
.upload-container>input {
    display: none;
}

.upload-button{
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    border:darkgray solid 2px;
    height: 40px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    /*font-size: 20px;
    font-weight: 600;*/
    font-size: small;
}

/** termina prueba*/

#genero
{
    border-radius: 8px;
    border:2px solid darkgray;
    width: 100%;
    height: 40px;
}

input[type="date"]
{
    border-radius: 8px;
    border:2px solid darkgray;
    width: 100%;
    height: 40px;
}

input[type="checkbox"]
{
    margin-right: 15px;
    border-radius: 8px;
    border:2px solid darkgray;
    width: 26px;
    height: 26px;
}

.dato{
    padding: 10px 0;
    width: 80%;
    align-content: center;
    font-size:small;
    color: black;
}

.dato-foto{
    text-align: center;
    width: 90%;
    align-content: center;
    font-size:small;
    color: black;
}

.boton{
    margin: 0 auto;
    padding: 5px;
    border: black solid 2px;
    border-radius: 8px;
    background-color: black;
    width: 100px;
    color: white;
    
}


.boton:hover{
    background-color: #2e2e2e;
    color:#ffffff;
}

/******************* MEDIA QUERIES*/


@media(max-width: 768px) {


    .container-datos-form {
        overflow:hidden;
        width: 70%;
    }

    input[type=file] {
        overflow:hidden;
    }
}

@media(max-width: 480px) {


    .container-datos-form {
        overflow:hidden;
        width: 90%;
    }

    input[type=file] {
        overflow:hidden;
    }
}
