* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 

}


/*Politicas de privacidad*/

.privacy {
    margin: 0 30px;
    padding: 30px;
}

/* Locales*/

.map-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;


}

.map-image {

    width: 400px;
    height: 350px;
    overflow:hidden;
    padding-bottom:330px;
    position:relative;
    height:0;
    border: 1px solid #2e3741 ;

}

.description {
    margin: 0;
    padding:20px 0;
    text-align: left;
    
}


/*AYUDA*/



.help-container{
    
   
        margin: 0 30px;
        padding: 30px;   
}

a[href^="#"] {
    color: black; /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina el subrayado */
    font-weight:bolder;
    font-size: larger;
}


a[href^="#"]:hover {
    color: #00C3FF; 
    
}


/* Footer */


.containerfooter {

    max-width: 1200px;
    margin: 0 auto;

}



.footer {

    background-color: #2e3741;
    padding: 80px 0;

}



.footer-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
   
}

.footer-links {

    width: 25%;
    padding: 0 15px;
  
    
}

.footer-links h4 {
     
    font-size: 14 px;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-decoration: underline #00C3FF;
    font-weight: 500; 
    display: inline-block;
}


.footer-links p a {
    
    font-size: 15px;
    text-decoration: none;
    color:#BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;

}


.footer-links p a:hover {
    color: #00c3ff;
    padding-left: 6px; 

}



.social-link a {

    display: inline-block;
    min-height: 30px;
    width: 40px;
    background-color: grey;
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    line-height: 40px; 
    color: white;
    transition: all .5s ease; 
}


.social-link a:hover{
    background-color: #00C3FF;
}





/* MediaQuerys*/


@media(max-width: 990px) {


    .map-container {
        
        align-items: center;
    }

    .map-image {

        
        width:250px;
        height: 250px ;
        overflow:hidden;
        padding-bottom:150px;
        border: 1px solid #2e3741 ;


    } 



    .footer-row {

        text-align: center;
        

        }

    .footer-links {

        width:100%;
        margin-bottom: 30px;

    } 
    
}


/*
<select name="lista" id="">
            <option>Hombre </option>
            <option>Mujer</option>
            <option>No-binario</option>
        </select>

        */
